*{margin:0;padding:0;}


.nopoint(){
	pointer-events:none;
}



#viz{
	background-color: #fff;
	position: relative;
}
.banner{
	width: 100%;
	height: 400px;
	background-color: #eee;
}
.orect{
	fill-opacity: 1;
}
.drect{
	fill-opacity: 1;
}
.varea{
	fill-opacity: 0.4;
	&:hover{
		fill-opacity: 1;	
	}
}
.g_node{
	-webkit-transition: opacity 0.3s;
	&.blurred{
		opacity: 0.3;
		&:hover{
			opacity: 0.8;
			.olabel{
				font: 300 15px/14px "Arial";
			}
		}
		.olabel{
			font: 300 10px/14px "Arial";
		}
		.ovlabel{
			opacity: 0;
		}
		.dvlabel{
			opacity: 0;
		}
	}
}
.olabel{
	fill: #333;
	text-anchor:end;
	font: 300 20px/14px "Arial";
	.nopoint()
}
.ovlabel{
	fill: #333;
	font: 300 10px/14px "Arial";
	-webkit-transition: opacity 0.3s;
	.nopoint()
}
.dlabel{
	fill: #333;
	font: 300 14px/18px "Arial";
	.nopoint()
}
.dvlabel{
	fill: #333;
	font: 300 14px/18px "Arial";
	text-anchor:end;
	-webkit-transition: opacity 0.3s;
	.nopoint()
}